body {
    background-image: url("assets/Alaska_Teri_Hendricks.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
img {
    width: 100px;
    position: absolute;
}
#b1{
    left: 0;
    transform: scaleX(-1);
}
#b2{
    left: 10%;
    transform: scaleX(-1);
}
#b3{
    left: 50%;
    transform: scaleX(-1);
}
#b4{
    left: 70%;
}
#b5{
    left: 30%;
}

