body {
    background-image: url("assets/Alaska_Teri_Hendricks.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
img {
    width: 250px;
    position: absolute;
}
#b1{
    right: 30%;
    transform: scaleX(-1);
    animation-name: b1;
    animation-duration: 6s;
}
#b2{
    left: 20%;
    transform: scaleX(-1);
}
#b3{
    left: 50%;
    transform: scaleX(-1);
}
#b4{
    right: 70%;
}
#b5{
    left: 80%;
}

@keyframes b1 {
   10% {left: 20%; bottom: 30%;} 
   30% {left: 30%; bottom: 50%;} 
   50% {left: 40%; bottom: 70%;} 
   70% {left: 60%; bottom: 30%;} 
   100% {left: 100%; bottom: 100%;} 
}